
<!--Breadcrumb-->
<div class="breadcrumb clearfix">
  <ul>
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="/">Dashboard</a></li>
    <li class="active">Main</li>
  </ul>
</div>
<!--/Breadcrumb-->

<div class="page-header">
  <h1>출연자 목록<small>현재 순위</small></h1>
</div>

<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
  <div class="col-md-12 bootstrap-grid"> 
    
    <!-- New widget -->
    <div class="powerwidget" id="forms-9" data-widget-editbutton="false">
      <header>
        <h2>상세정보를 보시려면 출연자의 엠블럼을 터치하세요.<small>Touch!</small></h2>
      </header>
      <div class="inner-spacer">
        <div class="row">
          <ul class="thumbnails">


            <%order = 0%>
            <%Celeb.all.each do |celeb|%>
              <%order = order + 1%>
              <li class="col-md-3 col-sm-6">
                <a href="/analytics/profile/<%=celeb.id%>">
                  <div class="thumbnail" <%if order == 1%>style="border: 5px solid #fff000;"<%end%>>
                    <div class='hover-fader'><img class="img-rounded img-responsive" src="/images/18s_main_img/<%=celeb.hashtag%>.png" alt="image01"><span class='zoom'></span></div>
                    <div class="gal-overlay" id="image-1"><img src="./images/gallery/1.png" alt="image01" />
                      <a href="#die" class="gal-close"><i class="fa fa-times-circle"></i></a> </div>
                    <div class="caption">
                      <p class="big"><strong><%=celeb.name%></strong> | #<%=celeb.hashtag%> <span class="badge"><strong><%=celeb.videos.count%>개</strong></span></p>
                      <div class="big-icons-buttons">
                          <div class="btn-group">
                            <a   href="/analytics/profile/<%=celeb.id%>"class="btn btn-danger"><h4><%=order%>위</h4></a>
                            <a  href="/analytics/profile/<%=celeb.id%>" class="btn btn-info"><h4><%=celeb.view%> View</h4></a>

                          </div>
                        </div>
                    </div>
                  </div>
                </a>
              </li>
            <%end%>
            
          </ul>
        </div>
        
        <!--Pagination-->
        
        <!--/Pagination--> 
        
      </div>
    </div>
    <!-- End Widget --> 
    
  </div>
  <!-- /Inner Row Col-md-12 --> 
</div>
<!-- /Widgets Row End Grid--> 
