    <!--Horisontal Dropdown-->
    <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
      <div class="cbp-hsinner">
        <ul class="cbp-hsmenu">
          <li> <a href="#"><span class="icon-bar"></span></a>
            <ul class="cbp-hssubmenu">
              <li><a href="#">
                <div class="sparkle-dropdown"><span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
                  <p class="sparkle-name">project income</p>
                  <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
                </div>
                </a></li>
              <li><a href="#">
                <div class="sparkle-dropdown"><span class="linechart">5,6,7,9,9,5,3,2,9,4,6,7</span>
                  <p class="sparkle-name">site traffic</p>
                  <p class="sparkle-amount">122541 <i class="fa fa-chevron-circle-down"></i></p>
                </div>
                </a></li>
              <li><a href="#">
                <div class="sparkle-dropdown"><span class="simpleline">9,6,7,9,3,5,7,2,1,8,6,7</span>
                  <p class="sparkle-name">Processes</p>
                  <p class="sparkle-amount">890 <i class="fa fa-plus-circle"></i></p>
                </div>
                </a></li>
              <li><a href="#">
                <div class="sparkle-dropdown"><span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
                  <p class="sparkle-name">orders</p>
                  <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
                </div>
                </a></li>
              <li><a href="#">
                <div class="sparkle-dropdown"><span class="piechart">1,2,3</span>
                  <p class="sparkle-name">active/new</p>
                  <p class="sparkle-amount">500/200 <i class="fa fa-chevron-circle-up"></i></p>
                </div>
                </a></li>
              <li><a href="#">
                <div class="sparkle-dropdown"><span class="stackedbar">3:6,2:8,8:4,5:8,3:6,9:4,8:1,5:7,4:8,9:5,3:5</span>
                  <p class="sparkle-name">fault/success</p>
                  <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
                </div>
                </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    
    
    <!-- Widget Row Start grid -->
    <div class="row" id="powerwidgets">
      <div class="col-md-12 bootstrap-grid"> 
        
        <!-- New widget -->
          <header>
            <h2>새로 올라온 영상<small>목록에 추가</small></h2>
          </header>
          <div class="inner-spacer">
            <div class="forum">
              <div class="header">페이스북의 영상들</div>
              <ul>

                <%@doc.each do |fb|%>

                  <%clips = Clip.where(:source_id => fb["id"].to_s)%>
                  <form action="/analytics/fb_upload" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                    <input type="hidden" name="source_id" value="<%=fb["id"]%>">

                      <li>
                      <div class="col-lg-8 col-md-6 col-sm-8">
                        <div class="main-details"><a href="https://www.facebook.com/<%=fb["id"]%>"><img src="<%=fb["format"][0]["picture"]%>" style="width:40px;position:absolute; top:0; left:0;"/></a> </i>
                        <h3><%if clips.count == 0%>
                          <input type="text" placeholder="제목을 입력하세요"name="title"><%else%><%=clips.first.video.title%><%end%>
                          </h3>
                          <span class="description"><%=fb["description"]%></span> </div>
                      </div>
                      <div class="col-lg-2 col-md-3 visible-lg visible-md">
                        <div class="nums-container">
                          <select name="celeb_id">
                            <%Celeb.all.each do |celeb|%>
                              <option value="<%=celeb.id%>" <%if fb["description"].to_s.include?(celeb.hashtag)%>selected<%end%>>
                                <%=celeb.name%>
                              </option>
                            <%end%>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs"><span class="last-post"><%if clips.count == 0%><input type="submit" class="btn btn-primary" value="참여영상 목록에 추가"><%else%>이미 참여 목록에 있습니다.<a href="/analytics/manage/<%=clips.first.video_id%>" class="btn btn-warning">영상 조회수 관리하기</a><%end%></span></div>
                      <div class="clearfix"></div>
                    </li>
                  </form>
                <%end%>
              </ul>
            </div>
          </div>
    
        <!--/Forum Block--> 
        
      </div>
    </div>
    <!-- End Widget --> 
    
  </div>
  <!-- /Inner Row Col-md-12 --> 
</div>
<!-- /Widgets Row End Grid--> 

