
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
  <div class="col-md-12 bootstrap-grid"> 
    <div class="powerwidget col-md-12" >

    </div>
    
    <!-- New widget -->
    <div class="powerwidget cold-grey" id="profile" data-widget-editbutton="false">
      <header>
        <h2>출연자 정보<small>아래의 탭을 눌러보세요</small></h2>
      </header>
      <div class="inner-spacer"> 
        
        <!--Profile-->
        <div class="user-profile">
          <div class="main-info">
            <div class="user-img"><img src="/images/profile/<%=@celeb.hashtag%>.png" alt="User Picture" /></div>
            <h1>#<%=@celeb.hashtag%></h1>
            <%=@celeb.view%> View | 현재 <%=@celeb.get_index%>위 </div>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item item1 active"> </div>
              <div class="item item2"></div>
              <div class="item item3"></div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
          <div class="user-profile-info">
            <div class="tabs-white">
              <ul id="myTab" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#followers" data-toggle="tab">영상 분석</a></li>
              </ul>

              <div id="myTabContent" class="tab-content">

                <div class="tab-pane in active" id="followers">
                  <div class="profile-header"> Clips <span class="badge"><%=@celeb.videos.count%>개</span>
                    <div class="btn-group btn-group-xs pull-right">
                      <button class="btn btn-default">Show all</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="items-switcher items-view-grid">
                      <ul>
                      <!--Tiny User Block-->
                      <%@celeb.videos.each do |video|%>
                        <li>
                          <div class="items-inner clearfix" onclick="location.href='/analytics/video/<%=video.id%>';">
                            <a class="items-image" style="max-width:130px;" ><img class="img-circle" src="<%=video.thumbnail.url(:original)%>" style="border-radius:0;"></a>
                          <h3 class="items-title"><%=video.title%></h3>
                          <div class="items-details"><strong><%=video.view%></strong> view</div>
                          <div class="items-details"><%=video.created_at.hour + 9%>시 <%=video.created_at.min%>분</div>
                          <a href="/analytics/video/<%=video.id%>" class="btn btn-success btn-sm">통계보기</a>
                      </div></li>
                      <%end%>
                    </div>
                  </div>
                </div>


              
              <!--/Chat Tab-->
              
            </div>
          </div>
        </div>
      </div>
      
      <!--/Profile--> 
    </div>
  </div>
  <!-- End .powerwidget --> 
</div>
<!-- /Inner Row Col-md-12 --> 
</div>
<!-- /Widgets Row End Grid--> 
