  
  <!--Breadcrumb-->
  <div class="breadcrumb clearfix">
    <ul>
      <li><a href="index.html"><i class="fa fa-home"></i></a></li>
      <li><a href="index.html">Dashboard</a></li>
      <li class="active">조회수 관리</li>
    </ul>
  </div>
  <!--/Breadcrumb-->
  
  <div class="page-header">
    <h1><%=@video.celeb.name%><small>#<%=@video.celeb.hashtag%></small></h1>
  </div>
  
  <!-- Widget Row Start grid -->
  <div class="row" id="powerwidgets">
    <div class="col-md-4 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet" id="widget1" data-widget-editbutton="false" style="background-color:#3b5998; color:white;">
        <header> </header>
        <div class="inner-spacer nopadding" style="background-color:#3b5998;">
          <div class="portlet-big-icon animated bounceIn text-white"><i class="fa entypo-facebook-circled"></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-4 col-sm-4 col-xs-4"><strong><%=@video.facebook["count"]%></strong><small>View</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong><%=@video.facebook["like"]["summary"]["total_count"]%></strong><small>Like</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong><%=@video.facebook["comment"]["summary"]["total_count"]%></strong><small>Comment</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->
    
    <div class="col-md-4 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet " id="widget2" data-widget-editbutton="false" style="background-color:#00aced; color:white;">
        <header> </header>
        <div class="inner-spacer nopadding" style="background-color:#00aced;">
          <div class="portlet-big-icon"><i class="fa fa-twitter"></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-6 col-sm-6 col-xs-6"><strong>19</strong><small>View</small></li>
            <li class="col-md-6 col-sm-6 col-xs-6"><strong>232</strong><small>Retweet</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->
    
    <div class="col-md-4 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet " id="widget3" data-widget-editbutton="false" style="background-color:#bb0000; color:white;">
        <header> </header>
        <div class="inner-spacer nopadding"style="background-color:#bb0000;">
          <div class="portlet-big-icon"><i class="fa fa-youtube"></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-12 col-sm-12 col-xs-12"><strong>2791</strong><small>view</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->
    
    <div class="col-md-4 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet" id="widget4" data-widget-editbutton="false" style="background-color:#23b300; color:white;">
        <header> </header>
        <div class="inner-spacer nopadding" style="background-color:#23b300;">
          <div class="portlet-big-icon" style="padding-top:15px;padding-bottom:20px;"><i><img src="/images/naver_logo.png" style="height:30px;"/></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-12 col-sm-12 col-xs-12"><strong>1000</strong><small>view</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->

    <div class="col-md-4 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet" id="widget4" data-widget-editbutton="false" style="background-color:#fff000; color:#393939;">
        <header> </header>
        <div class="inner-spacer nopadding" style="background-color:#fff000;">
          <div class="portlet-big-icon" style="padding-top:15px;padding-bottom:20px;"><i><img src="/images/daumkakao.png" /></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-12 col-sm-12 col-xs-12" style="background:none;"><strong>211</strong><small>view</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->


    <a target="_blank" href="https://www.youtube.com/analytics?o=U#fi=v-ffElKJiPzss,r=realtime">유튜브 조회수</a>

    <a target="_blank" href="https://www.youtube.com/analytics?o=U#fi=v-ffElKJiPzss,r=realtime">트위터 조회수</a>
    
    </div>
    <!-- /Inner Row Col-md-6 --> 
  </div>
  <!-- /Widgets Row End Grid--> 
</div>
<!-- / Content Wrapper --> 
